---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/doroshenkoihor
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e9cbedac5eb85194ddfcbed56a68a637f901dfb0d0512a3c35395861fa748329"
      Last-Modified:
      - Wed, 10 Aug 2022 15:03:49 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '59'
      X-Ratelimit-Reset:
      - '1660601111'
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"login":"doroshenkoihor","id":99028338,"node_id":"U_kgDOBecNcg","avatar_url":"https://avatars.githubusercontent.com/u/99028338?v=4","gravatar_id":"","url":"https://api.github.com/users/doroshenkoihor","html_url":"https://github.com/doroshenkoihor","followers_url":"https://api.github.com/users/doroshenkoihor/followers","following_url":"https://api.github.com/users/doroshenkoihor/following{/other_user}","gists_url":"https://api.github.com/users/doroshenkoihor/gists{/gist_id}","starred_url":"https://api.github.com/users/doroshenkoihor/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/doroshenkoihor/subscriptions","organizations_url":"https://api.github.com/users/doroshenkoihor/orgs","repos_url":"https://api.github.com/users/doroshenkoihor/repos","events_url":"https://api.github.com/users/doroshenkoihor/events{/privacy}","received_events_url":"https://api.github.com/users/doroshenkoihor/received_events","type":"User","site_admin":false,"name":"doroshenkoihor","company":null,"blog":"","location":null,"email":null,"hireable":null,"bio":null,"twitter_username":null,"public_repos":3,"public_gists":1,"followers":0,"following":0,"created_at":"2022-02-04T13:47:28Z","updated_at":"2022-08-10T15:03:49Z"}'
  recorded_at: Mon, 15 Aug 2022 21:05:08 GMT
- request:
    method: get
    uri: https://api.github.com/users/doroshenkoihor/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"50c7af7bc577a8c75561bd599d54e10f0d6f5f6d5fc631b3942eece795dd82b5"
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '58'
      X-Ratelimit-Reset:
      - '1660601111'
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - '2'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":523388222,"node_id":"R_kgDOHzJFPg","name":"github","full_name":"doroshenkoihor/github","private":false,"owner":{"login":"doroshenkoihor","id":99028338,"node_id":"U_kgDOBecNcg","avatar_url":"https://avatars.githubusercontent.com/u/99028338?v=4","gravatar_id":"","url":"https://api.github.com/users/doroshenkoihor","html_url":"https://github.com/doroshenkoihor","followers_url":"https://api.github.com/users/doroshenkoihor/followers","following_url":"https://api.github.com/users/doroshenkoihor/following{/other_user}","gists_url":"https://api.github.com/users/doroshenkoihor/gists{/gist_id}","starred_url":"https://api.github.com/users/doroshenkoihor/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/doroshenkoihor/subscriptions","organizations_url":"https://api.github.com/users/doroshenkoihor/orgs","repos_url":"https://api.github.com/users/doroshenkoihor/repos","events_url":"https://api.github.com/users/doroshenkoihor/events{/privacy}","received_events_url":"https://api.github.com/users/doroshenkoihor/received_events","type":"User","site_admin":false},"html_url":"https://github.com/doroshenkoihor/github","description":null,"fork":false,"url":"https://api.github.com/repos/doroshenkoihor/github","forks_url":"https://api.github.com/repos/doroshenkoihor/github/forks","keys_url":"https://api.github.com/repos/doroshenkoihor/github/keys{/key_id}","collaborators_url":"https://api.github.com/repos/doroshenkoihor/github/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/doroshenkoihor/github/teams","hooks_url":"https://api.github.com/repos/doroshenkoihor/github/hooks","issue_events_url":"https://api.github.com/repos/doroshenkoihor/github/issues/events{/number}","events_url":"https://api.github.com/repos/doroshenkoihor/github/events","assignees_url":"https://api.github.com/repos/doroshenkoihor/github/assignees{/user}","branches_url":"https://api.github.com/repos/doroshenkoihor/github/branches{/branch}","tags_url":"https://api.github.com/repos/doroshenkoihor/github/tags","blobs_url":"https://api.github.com/repos/doroshenkoihor/github/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/doroshenkoihor/github/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/doroshenkoihor/github/git/refs{/sha}","trees_url":"https://api.github.com/repos/doroshenkoihor/github/git/trees{/sha}","statuses_url":"https://api.github.com/repos/doroshenkoihor/github/statuses/{sha}","languages_url":"https://api.github.com/repos/doroshenkoihor/github/languages","stargazers_url":"https://api.github.com/repos/doroshenkoihor/github/stargazers","contributors_url":"https://api.github.com/repos/doroshenkoihor/github/contributors","subscribers_url":"https://api.github.com/repos/doroshenkoihor/github/subscribers","subscription_url":"https://api.github.com/repos/doroshenkoihor/github/subscription","commits_url":"https://api.github.com/repos/doroshenkoihor/github/commits{/sha}","git_commits_url":"https://api.github.com/repos/doroshenkoihor/github/git/commits{/sha}","comments_url":"https://api.github.com/repos/doroshenkoihor/github/comments{/number}","issue_comment_url":"https://api.github.com/repos/doroshenkoihor/github/issues/comments{/number}","contents_url":"https://api.github.com/repos/doroshenkoihor/github/contents/{+path}","compare_url":"https://api.github.com/repos/doroshenkoihor/github/compare/{base}...{head}","merges_url":"https://api.github.com/repos/doroshenkoihor/github/merges","archive_url":"https://api.github.com/repos/doroshenkoihor/github/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/doroshenkoihor/github/downloads","issues_url":"https://api.github.com/repos/doroshenkoihor/github/issues{/number}","pulls_url":"https://api.github.com/repos/doroshenkoihor/github/pulls{/number}","milestones_url":"https://api.github.com/repos/doroshenkoihor/github/milestones{/number}","notifications_url":"https://api.github.com/repos/doroshenkoihor/github/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/doroshenkoihor/github/labels{/name}","releases_url":"https://api.github.com/repos/doroshenkoihor/github/releases{/id}","deployments_url":"https://api.github.com/repos/doroshenkoihor/github/deployments","created_at":"2022-08-10T15:01:38Z","updated_at":"2022-08-11T18:13:19Z","pushed_at":"2022-08-15T20:23:13Z","git_url":"git://github.com/doroshenkoihor/github.git","ssh_url":"git@github.com:doroshenkoihor/github.git","clone_url":"https://github.com/doroshenkoihor/github.git","svn_url":"https://github.com/doroshenkoihor/github","homepage":null,"size":530,"stargazers_count":0,"watchers_count":0,"language":"CSS","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"allow_forking":true,"is_template":false,"web_commit_signoff_required":false,"topics":[],"visibility":"public","forks":0,"open_issues":0,"watchers":0,"default_branch":"master"},{"id":455565282,"node_id":"R_kgDOGydf4g","name":"Library","full_name":"doroshenkoihor/Library","private":false,"owner":{"login":"doroshenkoihor","id":99028338,"node_id":"U_kgDOBecNcg","avatar_url":"https://avatars.githubusercontent.com/u/99028338?v=4","gravatar_id":"","url":"https://api.github.com/users/doroshenkoihor","html_url":"https://github.com/doroshenkoihor","followers_url":"https://api.github.com/users/doroshenkoihor/followers","following_url":"https://api.github.com/users/doro[...]
