<div class="mt-5">
  <% user = @result.dig('data', 'user') %>
  <% if user %>
    <h1 class="mb-4"><%= user['name'] %> repos:</h1>
    <div class="row row-cols-1 row-cols-md-3 g-5 mb-5">
      <% user['repos'].each do |repo| %>
        <div class="col">
          <div class="card" style="width: 300px;">
            <h2 class="mb-4 card-header"><%= repo['name'] %></h2>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <h1>No Results Fonud</h1>
  <% end %>
</div>